{% load static %}
<div id="footer-social">
	<div class="container">
		<a href="#" target="_blank">
			<i class="fa fa-facebook"></i>
			<span>Facebook</span>
		</a>
		<a href="#" target="_blank">
			<i class="fa fa-instagram"></i>
			<span>Instagram</span>
		</a>
		<a href="#" target="_blank">
			<i class="fa fa-pinterest"></i>
			<span>Pinterest</span>
		</a>
		<a href="#" target="_blank">
			<i class="fa fa-youtube-play"></i>
			<span>Youtube</span>
		</a>
	</div>
</div>
<footer id="footer-copyright" style="background-color: rgba(50,48,48,0.5)">
	<div class="container">
		<p>©2020 Super tutoriais Todos os direitos reservados </p>
		<a href="#" class="to-top">Voltar para cima
			<i class="fa fa-angle-double-up"></i>
		</a>
	</div>