<div id="footer-instagram">

</a></li></ul><img class="image aligncenter" src="web1.jpg" alt="" width="2090" height="220"></div>
</div>
<div id="footer-social">
<div class="container">
<a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a> <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a> <a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a> <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
</div>
</div>
<footer id="footer-copyright">
    <div class="container">
        <p>© 2020 Tutoriais todos os direitos reservados </p>
        <a href="#" class="to-top">Voltar para cima<i class="fa fa-angle-double-up"></i></a>
    </div>
</footer>
